* {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
}

.navbar {
  font-family: "PT Sans", sans-serif;
  width: 100vw;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
#logo {
  margin-left: 40px;
  color: #18c3cc;
  animation: colorchange 1s infinite;
}

@keyframes colorchange {
  25% {
    color: #ffff00;
  }
  50% {
    color: #1aff8c;
  }
  75% {
    color: #ff1a8c;
  }
  100% {
    color: #d11aff;
  }
}

#navbarSupportedContent ul li a {
  color: #be1fdd;
}

#navbarSupportedContent ul li a:hover {
  font-size: 110%;
  color: #f6d584;
  border-bottom: 2px solid #eec1bc;
}

#introduction {
  background-image: url("./images/background2.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}

.intro {
  position: absolute;
  top: 30%;
  left: 15%;
  color: white;
  max-width: 60%;
}

.name {
  color: #36aeb6;
}

.btn {
  margin-top: 20px;
  margin-left: 40px;
}

#about {
  color: white;
  height: 60vh;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  width: 100vw;
}
#social {
  position: absolute;
  top: 70%;
}
.social {
  display: flex;
  flex-direction: column;
}

.social li {
  list-style: none;
  margin-left: 5%;
}
.bi {
  font-size: 130%;
}

.instagram {
  color: #bc2a8d;
}

.head,
.project_head {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  color: white;
}

.about p {
  margin: 20px 0px;
  text-align: center;
  font-size: 20px;
  padding: 2px;
}

.colour {
  color: #f8afa6;
}

#skill {
  height: 160vh;
  width: 100vw;
  background-image: url("./images/background3.jpg");
  color: white;
}
.head {
  margin-top: -20px;
}

.skill {
  max-width: 90%;
}

.skill_header {
  padding-top: 20px;
  text-align: center;
}

.skill_title {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}

.skill_name {
  font-size: 20px;
  font-weight: bold;
}

.skill_bar,
.skill_percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skill_bar {
  background-color: white;
  margin: 0 30px;
  margin-bottom: 30px;
}
.skill_percentage {
  display: block;
  background-color: #1aff8c;
}
.skill_html {
  width: 90%;
}
.skill_css,
.skill_node,
.skill_express {
  width: 80%;
}
.skill_javascript {
  width: 75%;
}
.skill_bootstrap,
.skill_java,
.skill_python,
.skill_mongoDB {
  width: 90%;
}
.skill_php {
  width: 70%;
}
.skill_sql {
  width: 90%;
}
.skill_bootstrap {
  width: 70;
}

#contact {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/background3.jpg");
}

.phone,
.mail,
.location {
  font-size: 250%;
  border: 1px solid white;
  border-radius: 20px;
  max-width: 150px;
  padding: 2%;
  margin-bottom: 20px;
}
.contact {
  padding: 20px;
}

.phone {
  background-color: #228b22;
}
.mail,
.location {
  background-color: white;
}
.bi-telephone-fill {
  color: white;
}
.bi-envelope-fill {
  color: #db4437;
}
.bi-geo-alt-fill {
  color: #db4437;
}
.ph {
  display: flex;
}
p {
  color: white;
  margin-left: 40px;
  padding-top: 40px;
  font-weight: bold;
}

#project {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#project h2 {
  color: white;
  text-align: center;
}

.projects img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 20px;
  margin: 40px;
}

@media only screen and (max-width: 650px) {
  #project {
    height: auto;
  }
  #introduction {
    height: 110vh;
  }
}
